<%- include("includes/header.ejs") -%>
<h1>Compose</h1>
<form class="d-flex">
  <input
    class="form-control me-2"
    type="text"
    placeholder="Entry"
    aria-label="Entry"
  />
  <button class="btn btn-outline-dark" type="submit">Publish</button>
</form>
<%- include("includes/footer.ejs") -%>
