<%- include("includes/header.ejs") -%>
<h1>Compose</h1>
<form action="/compose" method="post">
  <div class="mb-3">
    <label class="form-label" for="postTitle">Title</label>
    <input
      name="postTitle"
      class="form-control me-2"
      type="text"
      aria-label="Entry"
      autocomplete="off"
    />
  </div>
  <div class="mb-3">
    <label class="form-label" for="postBody">Post</label>
    <textarea
      name="postBody"
      class="form-control"
      rows="8"
      autocomplete="off"
    ></textarea>
  </div>
  <button class="btn btn-outline-dark" type="submit">Publish</button>
</form>
<%- include("includes/footer.ejs") -%>
